name: Publish to DocFX

on:
  push:
    branches:
      - master

permissions:
  actions: read
  pages: write
  id-token: write

jobs:
  publish-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Dotnet Setup
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Build and Generate Documentation
        env:
          DocFx: true # Workaround https://github.com/dotnet/docfx/issues/10808
        run: |
          dotnet tool update -g docfx
          cd docs
          docfx metadata
          docfx build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'docs/_site'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
